*{
    /*Makes everything compact and takes off all spacing of the regural tags*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #0f172A;
    color: #bdc1c6;
    /*padding: 14px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: sans-serif, 'Times New Roman', Times, serif
}

/* For the Header elements below */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

nav, section {
    display: flex;
    align-items: center;
    gap: 14px;
}

header section img{
    max-width: 30px;
    border-radius: 50%;
}

.greyLink{
    color: lightgrey
}

.whiteLink{
    color: white;
}

a {
    text-decoration: unset;
    font-size: 0.8em;
}

a:hover{
    text-decoration: underline;
}



/* For the Main elements below */

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 14px;
}

.googleLogo{
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.searchBarIcon{
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid grey;
    padding: 14px;
    border-radius: 24px;
}

.searchBarIcon:hover{
    border-color: transparent;
    background: #334155;
}

input{
    background: transparent;
    outline: none;
    border: unset;
    color: white;
    flex: 1;
}

.iconButton{
    display: flex;
    align-items: center;
    gap: 14px;
}
.iconButton button{
    background:transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}


.buttonsBelowSearchBar{
    display: flex;
    align-items: center;
    gap: 14px;
}
.buttonsBelowSearchBar button{
    padding: 10px 14px;
    border-radius: 8px;
    background: #334155;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

.buttonsBelowSearchBar button:hover{
    border: 1px solid darkgray;
}

.languageSelect{
    font-size: 0.8em;
}
.languageSelect span {
    color: cornflowerblue;
}


/* For the Footer elements below */
footer{
    display:flex;
    flex-direction:column;
}

footer > section{
    padding: 14px;
}

footer > section:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid darkgray;
}

.bottomFooterLinks{
    display: flex;
    align-items: center;
    gap: 14px;
}

.bottomFooterLinks a{
    cursor: pointer;
}

.bottomFooterLinks a{
    color: lightgrey;
}


@media (min-width: 540px){
    footer>section:last-child {
        flex-direction: row;
    }
}


